<ul>
  <% @restaurants.each do |restaurant|%>
    <li><%= restaurant.name %>: <%= restaurant.category.capitalize %>
    <%= link_to "See details", restaurant_path(restaurant), class: "btn-small btn-primary"%>
    </li>
  <% end %>
</ul>
<%= link_to "Add a new restaurant", new_restaurant_path%>
